.mainfooter
{   display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
    padding-top: 15%;
    padding-bottom: 3%;
    width: 90%;
    margin-left: 5%;
    
}

.news
{
    margin-right: 5%;
    width: 100%;
    height: auto;  
   
}